# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# Data and Outputs
outputs/
data/processed/
*.model
augmented data/

# Images
*.PNG
*.png
*.jpg
*.jpeg

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
